
@{
    ViewBag.Title = "Заказ обработан";
}

<h2>Спасибо!</h2>
<p>Спасибо за выбор нашей доставки.</p>
<p>Ваш заказ отправлен на обработку. В течение пяти минут с вами свяжется менеджер для уточнения деталей заказа.</p>


